src/test/resources/animals/mammals.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/mammals"
           xmlns="http://example.com/mammals"
           elementFormDefault="qualified">

    <xs:complexType name="Mammal">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Species" type="xs:string"/>
            <xs:element name="Age" type="xs:integer"/>
            <xs:element name="Weight" type="xs:decimal"/>
            <xs:element name="Habitat" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
