src/test/resources/only_person_simple_type_with_minLength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://example.com/ns/collection"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://example.com/ns/collection">
    <xs:element name="person" type="personType"/>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="born" type="xs:date"/>
            <xs:element name="dead" type="xs:date" minOccurs="0"/>
            <xs:element name="qualification" type="xs:string" minOccurs="0"/>
            <xs:element name="count" type="countryType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:complexType name="countryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="codeType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:complexType name="codeType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="descriptionType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:simpleType name="descriptionType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="2" />
            <xs:enumeration value="short"   />
            <xs:enumeration value="long"    />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
