src/test/resources/person_address.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Age" type="xs:int"/>
                <xs:element name="Address" type="AddressType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation>Describes the address type</xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name="Street" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Describes the street element

                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="City" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
</xs:schema>
